In [79]:
!pip install plotly
!pip install mplfinance
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from plotly.offline import plot
import matplotlib.pyplot as plt
import datetime
from pycoingecko import CoinGeckoAPI
from mplfinance.original_flavor import candlestick2_ohlc

Requirement already satisfied: plotly in c:\users\vice\appdata\local\programs\python\python39\lib\site-packages (4.14.3)
Requirement already satisfied: six in c:\users\vice\appdata\local\programs\python\python39\lib\site-packages (from plotly) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in c:\users\vice\appdata\local\programs\python\python39\lib\site-packages (from plotly) (1.3.3)
Collecting mplfinance
  Downloading mplfinance-0.12.7a17-py3-none-any.whl (62 kB)
Requirement already satisfied: pandas in c:\users\vice\appdata\local\programs\python\python39\lib\site-packages (from mplfinance) (1.2.4)
Requirement already satisfied: matplotlib in c:\users\vice\appdata\local\programs\python\python39\lib\site-packages (from mplfinance) (3.4.1)
Requirement already satisfied: cycler>=0.10 in c:\users\vice\appdata\local\programs\python\python39\lib\site-packages (from matplotlib->mplfinance) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\vice\appdata\local\programs\python\python39\lib\site-packages (from matplotlib->mplfinance) (2.8.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\vice\appdata\local\programs\python\python39\lib\site-packages (from matplotlib->mplfinance) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\vice\appdata\local\programs\python\python39\lib\site-packages (from matplotlib->mplfinance) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\vice\appdata\local\programs\python\python39\lib\site-packages (from matplotlib->mplfinance) (8.2.0)
Requirement already satisfied: numpy>=1.16 in c:\users\vice\appdata\local\programs\python\python39\lib\site-packages (from matplotlib->mplfinance) (1.19.5)
Requirement already satisfied: six in c:\users\vice\appdata\local\programs\python\python39\lib\site-packages (from cycler>=0.10->matplotlib->mplfinance) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\vice\appdata\local\programs\python\python39\lib\site-packages (from pandas->mplfinance) (2021.1)
Installing collected packages: mplfinance
Successfully installed mplfinance-0.12.7a17

In [80]:
cg = CoinGeckoAPI()
btc_data= cg.get_coin_market_chart_by_id(id='bitcoin',vs_currency='eur', days=30)
bitcoin_price_data=btc_data['prices']
data = pd.DataFrame(bitcoin_price_data, columns=['Timestamp', 'Price'])

In [81]:
data['Date']= pd.to_datetime(data['Timestamp'], unit='ms')

In [82]:
data.head()

       Timestamp         Price                    Date
0  1618618000894  51276.662529 2021-04-17 00:06:40.894
1  1618621423176  51305.349753 2021-04-17 01:03:43.176
2  1618625292971  51722.953497 2021-04-17 02:08:12.971
3  1618628746996  51959.658129 2021-04-17 03:05:46.996
4  1618632071484  52118.130637 2021-04-17 04:01:11.484

In [83]:
candlestick_data = data.groupby(data.Date.dt.date).agg({'Price': ['min','max','first','last']})
candlestick_data.head()

                   Price
                     min           max         first          last
Date
2021-04-17  50462.347566  52118.130637  51276.662529  50616.494966
2021-04-18  44702.043900  50155.537593  50155.537593  47335.946375
2021-04-19  45524.948840  47906.508629  46834.921069  46510.911566
2021-04-20  44672.637012  47233.116136  46274.255281  46834.763391
2021-04-21  45030.676964  46917.829901  46917.829901  45030.676964

In [ ]:
candlestick_data['Price']['min']


fig = go.Figure(data=[go.Candlestick(x= candlestick_data.index,
                                     open=candlestick_data['Price']['first'],
                                     high=candlestick_data['Price']['max'],
                                     low=candlestick_data['Price']['min'],
                                     close=candlestick_data['Price']['last'])
                                     ])

fig.update_layout(title='Bitcoin Candlestick Chart Overt Past 30 days', xaxis_rangeslider_visible=False, xaxis_title='Date',
                 yaxis_title='Price (USD $)')

In [88]:
url = plot(fig, output_type='file', filename='bitcoin_candlestick_graph' + '.html')